[submodule "cli"]
	path = services/cli
	url = git@github.com:MusicalPatterns/cli.git
[submodule "id"]
	path = services/id
	url = git@github.com:MusicalPatterns/id.git
[submodule "lab"]
	path = services/lab
	url = git@github.com:MusicalPatterns/lab
[submodule "material"]
	path = services/material
	url = git@github.com:MusicalPatterns/material.git
[submodule "metadata"]
	path = services/metadata
	url = git@github.com:MusicalPatterns/metadata.git
[submodule "pattern"]
	path = services/pattern
	url = git@github.com:MusicalPatterns/pattern.git
[submodule "playroom"]
	path = services/playroom
	url = git@github.com:MusicalPatterns/playroom.git
[submodule "spec"]
	path = services/spec
	url = git@github.com:MusicalPatterns/spec.git
[submodule "utilities"]
	path = services/utilities
	url = git@github.com:MusicalPatterns/utilities.git

[submodule "beatenPath"]
	path = patterns/beatenPath
	url = git@github.com:MusicalPatterns/pattern-beatenPath.git
[submodule "hafuhafu"]
	path = patterns/hafuhafu
	url = git@github.com:MusicalPatterns/pattern-hafuhafu.git
[submodule "houndstoothtopiaTheme"]
	path = patterns/houndstoothtopiaTheme
	url = git@github.com:MusicalPatterns/pattern-houndstoothtopiaTheme.git
[submodule "moeom"]
	path = patterns/moeom
	url = git@github.com:MusicalPatterns/pattern-moeom.git
[submodule "omnizonk"]
	path = patterns/omnizonk
	url = git@github.com:MusicalPatterns/pattern-omnizonk.git
[submodule "performerQa"]
	path = patterns/performerQa
	url = git@github.com:MusicalPatterns/pattern-performerQa.git
[submodule "playroomTest"]
	path = patterns/playroomTest
	url = git@github.com:MusicalPatterns/pattern-playroomTest.git
[submodule "prototyper"]
	path = patterns/prototyper
	url = git@github.com:MusicalPatterns/pattern-prototyper.git
[submodule "stepwise"]
	path = patterns/stepwise
	url = git@github.com:MusicalPatterns/pattern-stepwise.git
[submodule "template"]
	path = patterns/template
	url = git@github.com:MusicalPatterns/pattern-template.git
[submodule "tsraxcfaubdj"]
	path = patterns/tsraxcfaubdj
	url = git@github.com:MusicalPatterns/pattern-tsraxcfaubdj.git
[submodule "xenharmonicSeries"]
	path = patterns/xenharmonicSeries
	url = git@github.com:MusicalPatterns/pattern-xenharmonicSeries.git
[submodule "zdaubyaos"]
	path = patterns/zdaubyaos
	url = git@github.com:MusicalPatterns/pattern-zdaubyaos.git
