[submodule "cli"]
	path = cli
	url = https://github.com/MusicalPatterns/cli.git
[submodule "compiler"]
	path = compiler
	url = https://github.com/MusicalPatterns/compiler.git
[submodule "lab"]
	path = lab
	url = https://github.com/MusicalPatterns/lab.git
[submodule "pattern"]
	path = pattern
	url = https://github.com/MusicalPatterns/pattern.git
[submodule "performer"]
	path = performer
	url = https://github.com/MusicalPatterns/performer.git
[submodule "playroom"]
	path = playroom
	url = https://github.com/MusicalPatterns/playroom.git
[submodule "utilities"]
	path = utilities
	url = https://github.com/MusicalPatterns/utilities.git
[submodule "utilitiesPattern"]
	path = utilitiesPattern
	url = https://github.com/MusicalPatterns/utilities-pattern.git
